<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="ProductMasterContext" connectionString="metadata=res://*/PMModel.csdl|res://*/PMModel.ssdl|res://*/PMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:iidhqdqzjm.database.windows.net,1433;Database=pm2dbdev;User ID=B4XSK9AxFNw@iidhqdqzjm;Password=uwaK2phkfIiFOm2r;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ProductMasterContext" connectionString="metadata=res://*/PMModel.csdl|res://*/PMModel.ssdl|res://*/PMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=M1016;initial catalog=zphoenixlocal;integrated security=True;persist security info=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PhoenixODSContext" connectionString="metadata=res://*/ODSModel.csdl|res://*/ODSModel.ssdl|res://*/ODSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=zphoenixODSTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>