<div id="windowCollList" class="k-content resizable-window">
    <a id="btnCollAdd" class="btn btn-info btn-sm pull-right addfunctionalbtn" data-loading-text="Processing..."><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Selected Collections</a>
    <br />
    <br />
	<div id="gridCollInfo"  style="font-size:75%;" class="resizable-popup-grid"></div>
</div>