
<div id="windowNetObjects" class="k-content">
    <div id="tvNetObjects" style="height:430px;">loading...</div>
    <br />
    <div class="form-actions">
        Selected Item :<span class="label label-default" id="lblSelectedNetObjName">none</span><br /><br />
        <input type="hidden" id="inpSelectedNetObjId" value="0">
        <button type="button" class="btn btn-default btn-primary" id="btnNetObjSelOK">Use selected item</button>
        <button type="button" class="btn btn-default"  id="btnNetObjSelCancel">Cancel</button>
        <div id="infoMessage" class="alert alert-danger"></div>
    </div>
</div>