@*<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        Site
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="input-group">
            <span class="uneditable-input form-control" id="inpSelectedSiteName">Select a site...</span>
            <span class="input-group-addon">
                <button class="btn btn-default" type="button" id="btnSiteSelectOpen">...</button></span>
        </div>
    </div>
</div>*@
    <h5>Site</h5>
        <div class="input-group">
            <span class="input uneditable-input form-control" id="inpSelectedSiteName">Select a site...</span>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="btnSiteSelectOpen">...</button></span>
        </div>
