<header></header>
<div id="body">
    <h3>Menu Master API</h3>
    Version @HttpContext.Current.Application["appversion"].ToString() | Released On @HttpContext.Current.Application["lastbuild"].ToString()
</div>
