          <h5>Item List</h5>
          <div class="tabbable tabs-top" id="tbItem">
          <ul class="nav nav-tabs" id="tabItemGroup">
              @*<li><a href="#lA" data-toggle="tab" onClick="javascript: tabSelected(-1, $('#gridItemCat')); return false;">Categories</a></li>*@
              <li><a href="#1A" data-toggle="tab" onClick="javascript: tabSelected('#1A'); return false;">Categories</a></li>
              <li><a href="#1B" data-toggle="tab" onClick="javascript: tabSelected('#1B'); return false;">Modifiers</a></li>
              <li><a href="#1C" data-toggle="tab" onClick="javascript: tabSelected('#1C'); return false;">Substitutions</a></li>
              <li><a href="#1D" data-toggle="tab" onClick="javascript: tabSelected('#1D'); return false;">Up Sells</a></li>
              <li><a href="#1E" data-toggle="tab" onClick="javascript: tabSelected('#1E'); return false;">Cross Sells</a></li>
              <li><a href="#1F" data-toggle="tab" onClick="javascript: tabSelected('#1F'); return false;">Combinations</a></li>
            </ul>

             <div class="tab-content">
                
                <div class="tab-pane" id="1A">
                    <div id="gridItemCat" style="font-size:75%;" class="resizable-grid active"></div>
                </div>
                <div class="tab-pane" id="1B">
                    <div id="gridItemMod" style="font-size:75%;" class="resizable-grid inactive"></div>
                </div>
                <div class="tab-pane" id="1C">
                    <div id="gridItemSub" style="font-size:75%;" class="resizable-grid inactive"></div>
                </div>
                <div class="tab-pane" id="1D">
                    <div id="gridItemUpSell" style="font-size:75%;" class="resizable-grid inactive"></div>
                </div>
                <div class="tab-pane" id="1E">
                    <div id="gridItemCSell" style="font-size:75%;" class="resizable-grid inactive"></div>
                </div>
                <div class="tab-pane" id="1F">
                    <div id="gridItemCombo" style="font-size:75%;" class="resizable-grid inactive"></div>
                </div>
             </div>
            </div>
