<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!-- QA -->
    <add name="ProductMasterContext" connectionString="metadata=res://*/PMModel.csdl|res://*/PMModel.ssdl|res://*/PMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:n2mog9q5ks.database.windows.net,1433;Database=zphoenixtest;User ID=de2f062130@n2mog9q5ks;Password=IfSQSKgJRZ18;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=true;&quot;" providerName="System.Data.EntityClient" />
    <add name="PhoenixODSContext" connectionString="metadata=res://*/ODSModel.csdl|res://*/ODSModel.ssdl|res://*/ODSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:n2mog9q5ks.database.windows.net,1433;Database=zphoenixODStest;User ID=de2f062130@n2mog9q5ks;Password=IfSQSKgJRZ18;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=true;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:FederationMetadataLocation" value="https://login.windows.net/zioskportal.onmicrosoft.com/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Realm" value="https://www.zioskconnect.com/menudev" />
    <add key="ida:AudienceUri" value="https://www.zioskconnect.com/menudev" />
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="CDNEndpoint" value="https://zphoenixtest.blob.core.windows.net" />
    <add key="GuestUserNotifyEmail" value="prab@ziosk.com,shyam@ziosk.com" />
    <add key="GuestUserNotifySubject" value="Menu Master System - QA" />
    <add key="AssetBlobStorage" value="https://zphoenixtest.blob.core.windows.net/" />
    <add key="AssetBlobContainer" value="mmsimages" />
    <add key="ZStyleCDN" value="https://az480451.vo.msecnd.net/webui/" />
    <add key="FromEmailId" value="ttmcms@gmail.com" />
    <add key="FromEmailPass" value="ids159alto" />
  </appSettings>
  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Home/Index">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SignOut">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.5.1" />
    <customErrors mode="Off" />
    <sessionState timeout="60" />
    <!-- [500 MB = 524,288 KB] [1 hr = 3,600 secs] -->
    <httpRuntime maxRequestLength="524288" executionTimeout="3600" targetFramework="4.5" requestValidationMode="4.5" />
  </system.web>
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://www.zioskconnect.com/menudev" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="https://sts.windows.net/34bd5947-d225-4007-a24b-cc48a773d17e/">
          <keys>
            <add thumbprint="92B88C3DD981BF1EBCB244FCFA63C007706C79E0" />
            <add thumbprint="3270bf5597004df339a4e62224731b6bd82810a6" />
          </keys>
          <validIssuers>
            <add name="https://sts.windows.net/34bd5947-d225-4007-a24b-cc48a773d17e/" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
      <claimsAuthenticationManager type="Phoenix.Web.Models.ClaimsManager.ZioskAuthenticationManager,Phoenix.Web" />
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
    </identityConfiguration>
  </system.identityModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation reply="https://127.0.02/" passiveRedirectEnabled="true" issuer="https://login.windows.net/34bd5947-d225-4007-a24b-cc48a773d17e/wsfed" realm="https://www.zioskconnect.com/menudev" requireHttps="true"/>
    </federationConfiguration>
  </system.identityModel.services>
</configuration>